.cerclegreen{
    color: green;
   }
.cerclered{
    color: red;
}

table{
        background-color: gainsboro;
}
thead{
    background-color: MidnightBlue;
    color: white;
}
tr:nth-child(18)
{
   background-color:silver;
}
tr:nth-child(19){
    background-color:darkgrey;
    }
tr:nth-child(20){
        background-color:gray;
        }
